{% extends 'base.html' %}

{% load static %}

{% block section %}
   <h2>
     <p>Bienvenido, está en la sección de Aeropuertos </p> <p>  {{ object.nombre }} de la ciudad de  {{ object.ciudad }} </p>
       {% if object.aeropuerto_id %}
         ( <a href="{% url "aeropuerto-detail" object.aeropuerto_id %}">
             {{ object.aeropuerto }}
           </a> )
       {% endif %}
    </h2>
    <a href="{% url "aeropuerto-update" object.id %}">edit</a>
    <a href="{% url "aeropuerto-delete" object.id %}">delete</a> 
    <a href="{% url "aeropuerto" }">create</a>
    <p><strong>comments: </strong>{{ object.comment|default:"no comments" }}</p>
   <hr>
{% endblock section %}

{% block maincontent %}
<div>
 <div>
     <img src="{% static object.foto_aeropuerto.url %}" style="width:250px;height:330px" />
 </div>
</div>
{% endblock maincontent %} 
