{% extends 'base.html' %}

{% load static %}

{% block section %}
    <h2>Vuelos</h2>
    <hr>
{% endblock section %}

{% block maincontent %}
    <div class="row well">
        {% for p in object_list.all %}
            <div class="col-md-3 well">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ p.origen }} {{ p.destino }}</h3>
                    </div>
                    <div class="panel-body" align="center">
                        <a href="{% url "vuelo-detail" p.id %}">
                        </a>
                    </div>
                    <div class="panel-footer">
                        {% if p.comment %}
                            {{ p.comment }}
                        {% else %}
                            <a href="{% url "vuelo-update" p.id %}">editar</a>
                            <a href="{% url "vuelo-delete" p.id %}">eliminar</a>
                            <a href="{% url "vuelo-detail" p.id %}">detalles</a>

                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock maincontent %}
