{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
    </head>
    <body>
      <h1>Creando Vuelos</h1>
    </body>
    </html>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group row">
        <label for="{{ form.numero_vuelo.id_for_label }}" class="col-sm-2 col-form-label">Número de Vuelo:</label>
        <div class="col-sm-10">
          {{ form.numero_vuelo }}
        </div>
      </div>
      <div class="form-group row">
        <label for="{{ form.origen.id_for_label }}" class="col-sm-2 col-form-label">Origen:</label>
        <div class="col-sm-10">
          {{ form.origen }}
        </div>
      </div>
      <div class="form-group row">
        <label for="{{ form.destino.id_for_label }}" class="col-sm-2 col-form-label">Destino:</label>
        <div class="col-sm-10">
          {{ form.destino }}
        </div>
      </div>
      <div class="form-group row">
        <label for="{{ form.cod_aeropuerto.id_for_label }}" class="col-sm-2 col-form-label">Código de Aeropuerto:</label>
        <div class="col-sm-10">
          {{ form.cod_aeropuerto }}
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
