{% extends 'base.html' %}

{% block content %}
<div class="text-center">
  <h1>Bienvenido a la sección Detalles de los Pasajeros </h1> 

</div><br>



  <table class="table">
    <tbody>
      <tr>
        <th>Código Pasajero:</th>
        <td>{{ pasajero.codigo_pasajero }}</td>
      </tr>
      <tr>
        <th>Nombre:</th>
        <td>{{ pasajero.nombre }}</td>
      </tr>
      <tr>
        <th>Apellido:</th>
        <td>{{ pasajero.apellido }}</td>
      </tr>
      <tr>
        <th>Celular:</th>
        <td>{{ pasajero.celular }}</td>
      </tr>
      <tr>
        <th>Correo:</th>
        <td>{{ pasajero.correo }}</td>
      </tr>
      <tr>
        <th>Número de Vuelo:</th>
        <td>{{ pasajero.num_vuelo }}</td>
      </tr>
    </tbody>
  </table>

  <a class='btn btn-warning' href="{% url 'pasajero-update' pk=pasajero.pk %}" class="btn btn-warning">Editar</a>
  <a class='btn btn-danger' href="{% url 'pasajero-delete' pk=pasajero.pk %}" class="btn btn-danger">Eliminar</a>

  <a class='btn btn-secondary' href="{% url 'pasajero-list' %}" class="btn btn-primary">Volver a la lista de pasajeros</a>
{% endblock %}
