{% extends 'base.html' %}

{% block content %}
  <h2>Listado de Pasajeros</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Código Pasajero</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Celular</th>
        <th>Correo</th>
        <th>Nombre del Vuelo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for pasajero in pasajeros %}
        <tr>
          <td>{{ pasajero.codigo_pasajero }}</td>
          <td>{{ pasajero.nombre }}</td>
          <td>{{ pasajero.apellido }}</td>
          <td>{{ pasajero.celular }}</td>
          <td>{{ pasajero.correo }}</td>
          <td>{{ pasajero.num_vuelo}}</td>
          <td>
            <a href="{% url 'pasajero-detail' pk=pasajero.pk %}" class="btn btn-info btn-sm">Detalles</a>
            <a href="{% url 'pasajero-update' pk=pasajero.pk %}" class="btn btn-warning btn-sm">Editar</a>
            <a href="{% url 'pasajero-delete' pk=pasajero.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
