{% extends 'base.html' %}

{% load static %}

{% block section %}
<div class="text-center">
  <h1>Bienvenido a la sección Detalles de los Vuelos </h1> 

</div><br>

<h2>
     <p>Vuelo de   {{ object.origen }}  a  {{ object.destino }}</p>
     <p>Número de Vuelo: {{ object.numero_vuelo }} </p>
       {% if object.vuelo_id %}
         ( <a href="{% url "vuelo-detail" object.vuelo_id %}">
             {{ object.vuelo }}
           </a> )
       {% endif %}
    </h2>
    <a class='btn btn-warning' href="{% url "vuelo-update" object.id %}">Editar</a>
    <a class='btn btn-danger' href="{% url "vuelo-delete" object.id %}">Borrar</a> 
    <a class='btn btn-secondary' href="{% url 'vuelo-list' %}" class="btn btn-primary">Volver a la lista de vuelos</a>
    <p><strong>comments: </strong>{{ object.comment|default:"no comments" }}</p>
   <hr>
{% endblock section %}

{% block maincontent %}
<!-- <div>
 <div>
     <img src="{% static object.photo.url %}" style="width:250px;height:330px" />
 </div>
</div> -->
{% endblock maincontent %} 
